 html:not(.style-scope) {
   /* Nord theme variables */
   --nord0: 46, 52, 64;
   --nord1: 59, 66, 82;
   --nord2: 67, 76, 94;
   --nord3: 76, 86, 106;
   --nord4: 216, 222, 233;
   --nord5: 229, 233, 240;
   --nord6: 236, 239, 244;
   --nord7: 143, 188, 187;
   --nord8: 178, 188, 204;
   --nord9: 129, 161, 193;
   --nord10: 94, 129, 172;
   --nord11: 191, 97, 106;
   --nord12: 208, 135, 112;
   --nord13: 235, 203, 139;
   --nord14: 163, 190, 140;
   --nord15: 180, 142, 173;
 }

 * {
  --yt-spec-base-background: rgb(38, 42, 53) !important;
 }

 /* Top navbar */
 #background {
   background-color: rgb(var(--nord0)) !important;
 }

 /* Sidebar */
 #guide-content.ytd-app, ytd-mini-guide-renderer {
   background-color: rgb(var(--nord0)) !important;
 }
 /* Sidebar items */
 ytd-mini-guide-entry-renderer, ytd-guide-entry-renderer {
  background: transparent !important;
 }
 ytd-mini-guide-entry-renderer:hover, ytd-guide-entry-renderer:hover {
   background: rgb(var(--nord1)) !important;
 }
 #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:hover,
 #endpoint.yt-simple-endpoint.ytd-guide-entry-renderer:focus {
   background-color: transparent !important;
 }

 /* Cinematics (color imertion around the video player) */
 #cinematics-container {
  display: none;
 }